LAB10(PF)/Task01.exe
PF assignment_2/Week 3/case03.exe
PF assignment_2/Week 3/case02.exe
PF assignment_2/Week 3/case01.exe
PF assignment_2/Week 2/case04.exe
PF assignment_2/Week 2/case03.exe
PF assignment_2/Week 2/case02.exe
PF assignment_2/Week 2/case01.exe
PF assignment_2/Week 4/case02.exe
Alogorithms/binarysearch.exe
Alogorithms/bubblesort.exe
Alogorithms/rand.exe
